/* Apply a universal box-sizing rule to all elements, including pseudo-elements, for a more intuitive layout model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set height to 100%, and margin and padding to 0 for html, body, and wrapper to remove default browser styling */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Set the font family and background color for the body */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* Provide padding to the top, left, and right of the wrapper */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Center the text within the header and apply padding and color */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Style the card element with background color, border radius, box shadow, color, font size, margin, max width and padding */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* Style the card header element with a border bottom using pseudo-element */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Set a minimum height for the card body */
.card-body {
  min-height: 100px;
}

/* Center the text within the card footer */
.card-footer {
  text-align: center;
}

/* Style the card footer element with a border top using pseudo-element */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Clear any floats after the card footer element */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* Style the button (btn) class with background color, border, border radius, box shadow, color, display, font size, line height, margin, padding, text alignment and cursor type */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Change the cursor type and background color for disabled buttons */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* Class to float elements to the right */
.float-right {
  float: right;
}

/* Style the password field */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Adjust the size and padding of the button and font size of the password field for screens with max width of 690px */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

/* Further adjust the font size of the button for screens with max width of 500px */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}